html
    head
        link(rel="stylesheet", href="../css/styles.sass")
        script(src='../js/main.js')
    body
        .container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#rules") Rules
                    .line.align-self-center
                    a(href='#extralife') ExtraLife
                    .line.align-self-center
                    a(href="https://discord.gg/red") Join?
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 GamesNET
                    a.links-suppressor.join-btn.btn-pill.white(href="https://discord.gg/red") Join Server

            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About
                        p
                            b GamesNET
                            | &nbsp;is a private North American gaming community. Originally from an IRC chatgroup back in early 90's but was disbanded. It is now reborn on Discord.
                            br
                            br
                            b This server is by invite only. Sorry.
                            br
                            b If no one can vouch for you, you can't enter.
                        ul
                            li Moderation features (kick/ban/softban, filters, mod-log...)
                            li Stream &amp; Video alerts (twitch/youtube)
                            li Custom commands
                            li Imgur/gif/youtube search
                            li And much much more!
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=279193513806135296&theme=dark",
                        allowtransparency="true",
                        frameborder="0")

                section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 Rules
                        p
                            b GamesNET
                            | &nbsp;has a very small subset of rules that all members follow. It can essentially be summed up as...
                            br
                            br
                            b Don't be a dick.
                            br
                        ul
                            li Appropriate Content (no racist remarks, excessively crude or obsene language, images, gifs, links, etc...)
                section#extralife.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image2(style='flex-grow: 1;')
                    .text
                    h2 ExtraLife Team
                    p
                        b GamesNET
                        | &nbsp;is an active ExtraLife participant trying to raise money for SickKids Foundation, part of the Childrens' Miracle Network.
                        br
                        br
                        b Help support GamesNET members by donating or streaming along with us! Get access to:
                        br
                    ul
                        li @Streamer status in the Server
                        li Moderation features (kick/ban/softban, filters, mod-log...)
                        li Custom GamesNET Streamlabs OBS Themes
                        li Custom ExtraLife Streamlabs OBS Themes
                        li Stream alerts (twitch/hitbox)
                        li Custom commands
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://discord.gg/red") Join Server
                    .line.align-self-center(style="flex-grow: 1")

            .footer.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                .d-flex
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Staff
                        span vip3rousmango#3357
                        span drewsef#2501
                        span Wyzcraks#7511
                        span FearItself#4496
                        span Swan#0373
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Moderators
                        span Twentysix26#2152
                        span JennJenn#4953
                        span Will#0234
                        span irdumb#9823
                        span Kowlin#8251

                p.align-self-end | GamesNET is an online gaming community for former members of Gamesnet the IRC gaming community. Join by invite only.